* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
    
body {
	height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
	color: #fff;
	background-color: #000000;
	height: 100%;
	justify-content: center;
	align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

h2.titulo span {
    color: blueviolet;
}

ul {
    list-style: none;
    padding: 0px;
    overflow: hidden;
    transition: all .5s;
}

/*barra de nav*/

nav {
    background-color: rgba(0, 0, 0, 0);
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
}

nav p {
    margin: 10px;
    color: #FFF;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

nav,
ul {
    display: flex;
    flex-direction: row;
}

.topo-logo {
    height: 85px;
  }

li {
    padding: 0 20px;
}


button {
    background-color: transparent;
    border: none;
    color: #FFF;
    font-size: 45px;
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
}

ul a:hover,
button:hover {
    cursor: pointer;
    opacity: 0.8;
    background-color: rgba(255, 255, 255, 0.2);
}

.content {
    background-color: #606060;
    width: 100%;
    height: 100vh;
}

@media (max-width: 700px) {

    nav,
    ul {
        flex-direction: column;
    }

    ul {
        text-align: center;
        margin: 0;
        height: 0;
    }

    nav {
        padding: 0;
        align-items: flex-start;
    }

    h1 {
        margin: 20px;
    }

    button {
        display: flex;
    }

    li,
    ul {
        width: 100%;
    }

    ul.responsivo {
        height: 260px;
    }
}

/* ESTILO DO TOPO DO SITE */
section.topo-do-site {
    padding: 80px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site  h1 span {
    color: blueviolet;
}

.topo-do-site  p {
    color: #fff;
    margin: 40px 0;
    font-size: 20px;
    font-family: 'Poppins', sans-serif
}

.topo-do-site  img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}


@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

/*icones */

.icons {
    margin-bottom: 1px;
	display: flex;
	column-gap: 25px;
	justify-content: center
}

.icon {
	display: inline-flex;
	width: 60px;
    min-width: 30px;
	height: 60px;
    min-height: 30px;
	text-decoration: none;
	font-size: 26px;
	color: #fff;
	border-radius: 50%;
	outline: 2px solid #fff;
	transition-property: outline-offset, outline-color, background-color;
	transition-duration: 0.25s;
}

.icon:hover {
	outline-offset: 4px;
}
.icon i {
	margin: auto;
}
.icon:hover i {
	animation: shake 0.25s;
}
.icon--instagram:hover {
	background-image: radial-gradient(
		circle at 30% 107%,
		#fdf497 0%,
		#fdf497 5%,
		#fd5949 45%,
		#d6249f 60%,
		#285aeb 90%
	);
	outline-color: #a02d76;
}

.icon--linkedin:hover {
	background-color: #0077b5;
	outline-color: #0077b5;
}
.icon--github:hover {
	background-color: #4056d1;
	outline-color: #4056d1;
}

@keyframes shake {
	10% {
		transform: rotate(15deg);
	}
	20% {
		transform: rotate(-15deg);
	}
	30% {
		transform: rotate(15deg);
	}
	40% {
		transform: rotate(-15deg);
	}
}


/*Responsi Topo site*/
@media screen and (max-width: 1020px) {

    /* CLASSES GERAIS */
    .flex {
        flex-direction: column;
    }

    .topo-do-site .flex{
        flex-direction: column-reverse;
    }

    h2.titulo {
        font-size: 34px;
        line-height: 30px;
    }

    /* CABEÇALHO */
    .menu-desktop,
    .btn-contato {
        display: none;
    }

    /* TOPO DO SITE */

    section.topo-do-site .flex {
        gap: 40px;
    }

    section.topo-do-site {
        padding: 20px 8%;
    }

    .topo-do-site h1 {
        font-size: 30px;
    }

    .topo-do-site .img-topo-site img {
        width: 100%;
    }
}

/*projetos*/
section.portfolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #0000001d;
}

section.portfolio .flex {
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

h2.titulo {
    color: #fff;
    font-size: 38px;
    text-align: center;
}

.img-port {
    width: 300px;
    height: 350px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff78;
    opacity: 1;
}

/*skills*/

/* Estilos para a seção .skill */
.skill {
    padding: 100px;
    display: grid;
    gap: 30px;
    justify-content: center;
    background-color: #151515;
}

.boxes {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.titulo {
    font-size: 2rem;
}

/* Flexbox com responsividade */
.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.especialidades-box {
    flex: 0 0 calc(50% - 20px); /* Redefinido para 50% de largura em dispositivos menores */
    background-color: #000000;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: background-color 0.3s ease;
    max-width: 250px; /* Adiciona um limite máximo de largura */
}

.especialidades-box img {
    max-width: 100%;
    height: auto;
}


/* Responsividade para dispositivos menores */
@media screen and (max-width: 768px) {
    .skill {
        padding: 20px; /* Reduza o espaço interno para dispositivos móveis */
        gap: 20px;
    }

    .flexbox {
        flex-direction: column; /* Altera para uma direção de coluna em dispositivos menores */
    }

    .especialidades-box {
        flex: 0 0 calc(50% - 20px); /* Define 50% de largura em dispositivos menores */
        margin-bottom: 20px; /* Adicione um espaço entre as caixas */
    }
}


/* SEÇÃO PRINCIPAL SOBRE MIM */

main {
    background-color: #111;
    color: white;
}

main .sobre {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    justify-content: center;
    padding: 40px;
}

.sobre_titulo {
    margin: 30px 0;
    grid-column: 1/-1;
    text-align: center;
    color: rgb(255, 255, 255);
    
}


.sobre_titulo p {
    color: #ffffff;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    position: relative;
}

.sobre_titulo div {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.sobre img {
    animation: ladoSecao .5s ease-in-out forwards;
    cursor: pointer;
    grid-row: 2;
    max-width: 100%;
    border-radius: 4px;
    filter: blur(0);
}

.sobre img:hover {
    transition: .5s ease-in;
    filter: blur(1px);
}

.sobre_conteudo {
    animation: sobeSecao .6s ease-in-out forwards;
    grid-column: 2/-1;
    display: grid;
    color: #707070;
    grid-template-columns: 1fr 1fr;
}

.sobre_texto {
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: 1fr 1fr;
}

.sobre_texto h2 {
    font-size: 2.3rem;
    color: #fff;
    grid-column: 1/-1;
}

.sobre_texto h2::after {
    background-color: blueviolet;
    height: 6px;
    width: 60px;
    margin: 20px 0;
    content: '';
    display: block;
    border-radius: 5px;
}

.sobre_texto p {
    font-size: 1.3rem;
    grid-row: 2;
    grid-column: 1/-1;
}

.sobre_info {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/-1;
    gap: 15px;
    align-items: center;
}

.sobre_info i {
    color: blueviolet;
    display: inline-block;
    padding-right: 15px;
    font-size: 1.5rem;
}

.sobre_info p {
    font-size: .9rem;
}

@keyframes sobeSecao {
    from {
        transition: .5s;
        transform: translate3d(60px, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes ladoSecao {
    from {
        transition: .5s;
        transform: translate3d(-60px, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}


/* RESPONSIVO */

@media(max-width: 992px) {
    .section-div img {
        display: none;
    }

    .section-div {
        background-image: url(img/pessoa\ ilustrativa.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    header {
        justify-content: space-between;
        padding: 30px 70px;
    }

    header .navegacao-primaria {
        display: none;
    }

    header i {
        color: #f7f7f7;
        font-size: 3rem;
    }

    header .navegacao-primaria.ativado {
        background: linear-gradient(rgba(43, 42, 42, 0.176), rgba(46, 46, 46, 0.724));
        position: absolute;
        display: grid;
        top: 80px;
        color: white;
        z-index: 1;
        padding: 30px;
        font-size: 1.6rem;
        font-weight: bold;
        border-radius: 0 0 4px 4px;
        right: 20px;
        animation: sobeSecao .8s ease-in-out forwards;
    }
}

@media(max-width: 992px) {
    .sobre img {
        grid-column: 1/-1;
        justify-self: center;
    }

    .sobre_conteudo {
        grid-column: 1/-1;
    }
}