/* ESTILO DO HEADER */

.boxprincipal{
    text-align: center;
    margin-bottom: 40px;
}

.boxprincipal img{
    max-width: 150px;
    margin-bottom: 20px;
    border-radius: 50%;
}

.boxprincipal h2{
    font-size: 2em;
    margin-bottom: 10px;
    color: #ffffff;
    font-weight: 300;
}

p {
    color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

ul {
    list-style: none;
    padding: 0px;
    overflow: hidden;
    transition: all .5s;
}
